<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>2109蹭饭系统</title>
</head>
<body style='margin: 0'>
<div id='map' style='width:100vw;height: 100vh;'></div>
<link rel="stylesheet" type="text/css" href="./css/index.css">
<script src='./js/highmaps.js'></script>
<script src='./js/drilldown.js'></script>
<script src='./js/nunjucks.min.js'></script>

<script src='./js/china.js'></script>
<script src='./js/zhejiang.js'></script>
<script src='./js/beijing.js'></script>
<script src='./js/jiangsu.js'></script>
<script src='./js/neimenggu.js'></script>
<script src='./js/guangdong.js'></script>
<script src='./js/tianjin.js'></script>
<script src='./js/hebei.js'></script>
<script src='./js/shanxi.js'></script>
<script src='./js/liaoning.js'></script>
<script src='./js/jilin.js'></script>
<script src='./js/heilongjiang.js'></script>
<script src='./js/shanghai.js'></script>
<script src='./js/anhui.js'></script>
<script src='./js/fujian.js'></script>
<script src='./js/jiangxi.js'></script>
<script src='./js/shandong.js'></script>
<script src='./js/henan.js'></script>
<script src='./js/hubei.js'></script>
<script src='./js/hunan.js'></script>
<script src='./js/guangxi.js'></script>
<script src='./js/hainan.js'></script>
<script src='./js/chongqing.js'></script>
<script src='./js/sichuan.js'></script>
<script src='./js/guizhou.js'></script>
<script src='./js/yunnan.js'></script>
<script src='./js/xizang.js'></script>
<script src='./js/shanxi2.js'></script>
<script src='./js/gansu.js'></script>
<script src='./js/qinghai.js'></script>
<script src='./js/ningxia.js'></script>
<script src='./js/xinjiang.js'></script>
<script>
    let students = [
    {name: '李易远',school: '西北工业大学',province: '陕西',city: '西安'},
{name: '李金隆',school: '大连理工大学',province: '辽宁',city: '大连'},
{name: '陈一豆',school: '大连理工大学',province: '辽宁',city: '大连'},
{name: '杨梓娴',school: '陕西师范大学',province: '陕西',city: '西安'},
{name: '孟羡杰',school: '东北大学',province: '辽宁',city: '沈阳'},
{name: '王雪冰',school: '东北大学',province: '辽宁',city: '沈阳'},
{name: '修培乘',school: '东北大学秦皇岛分校',province: '河北',city: '秦皇岛'},
{name: '费思源',school: '南京信息工程大学',province: '江苏',city: '南京'},
{name: '姚晓玉',school: '郑州大学',province: '河南',city: '郑州'},
{name: '欧阳玉嘉',school: '西北农林科技大学',province: '陕西',city: '咸阳'},
{name: '史芳慈',school: '中国医科大学',province: '辽宁',city: '沈阳'},
{name: '毛美婷',school: '东北财经大学',province: '辽宁',city: '大连'},
{name: '佟海诚',school: '南京农业大学',province: '江苏',city: '南京'},
{name: '胡雪莹',school: '辽宁师范大学',province: '辽宁',city: '大连'},
{name: '庞云飞',school: '江苏大学',province: '江苏',city: '镇江'},
{name: '刘馨',school: '辽宁大学',province: '辽宁',city: '沈阳'},
{name: '姚京圻',school: '南京工业大学',province: '江苏',city: '南京'},
{name: '姜婧',school: '辽宁师范大学',province: '辽宁',city: '大连'},
{name: '王思文',school: '中国医科大学',province: '辽宁',city: '沈阳'},
{name: '王楠',school: '辽宁大学',province: '辽宁',city: '沈阳'},
{name: '马菘泽',school: '沈阳工业大学',province: '辽宁',city: '沈阳'},
{name: '王聪',school: '东北林业大学',province: '黑龙江',city: '哈尔滨'},
{name: '刘兴平',school: '辽宁师范大学',province: '辽宁',city: '大连'},
{name: '赵伟志',school: '沈阳航空航天大学',province: '辽宁',city: '沈阳'},
{name: '邓博华',school: '辽宁大学',province: '辽宁',city: '沈阳'},
{name: '陈茜婷',school: '哈尔滨理工大学',province: '黑龙江',city: '哈尔滨'},
{name: '王宣琪',school: '中国民用航空飞行学院',province: '四川',city: '德阳'},
{name: '刘宏序',school: '中国劳动关系学院',province: '北京',city: '海淀区'},
{name: '闻一',school: '辽宁大学',province: '辽宁',city: '沈阳'},
{name: '路明坦',school: '浙大城市学院',province: '浙江',city: '杭州'},
{name: '崔馨月',school: '沈阳师范大学',province: '辽宁',city: '沈阳'},
{name: '于容',school: '辽宁大学',province: '辽宁',city: '沈阳'},
{name: '栗煜浩',school: '华北理工大学',province: '河北',city: '唐山'},
{name: '张秋实',school: '长春师范大学',province: '吉林',city: '长春'},
{name: '朱建达',school: '沈阳航空航天大学',province: '辽宁',city: '沈阳'},
{name: '张艺腾',school: '沈阳工业大学',province: '辽宁',city: '沈阳'},
{name: '孙佳琦',school: '沈阳农业大学',province: '辽宁',city: '沈阳'},
{name: '齐芳卉',school: '大连医科大学',province: '辽宁',city: '大连'},
{name: '林鑫',school: '沈阳理工大学',province: '辽宁',city: '沈阳'},
{name: '洪天宇',school: '吉林建筑大学',province: '吉林',city: '长春'}

    ];

    let data = Highcharts.geojson(Highcharts.maps['cn/china']);

    let provinces = {};
    Highcharts.each(data, function (d) {
        provinces[d.name] = d;
        d.drilldown = d.name;
        d.value = 0;
        d.cities = {};
        d.people = [];
    });

    for (let s of students) {
        provinces[s.province].value++;
        provinces[s.province].people.push(s)
    }

    for (let p of Object.values(provinces)) {
        let filename = p.properties.filename;
        if (!Highcharts.maps[`cn/${filename}`]) {
            continue
        }
        let subData = p.subData = Highcharts.geojson(Highcharts.maps[`cn/${filename}`]);
        Highcharts.each(subData, function (city) {
            p.cities[city.name] = city;
            city.value = 0;
            city.people = [];
        });
        for (let s of students) {
            if (p.cities[s.city] !== undefined) {
                p.cities[s.city].value++;
                p.cities[s.city].people.push(s);
            }
        }
    }

    function makeSeries() {
        let series = [];
        for (let p of Object.values(provinces)) {
            if (p.subData) {
                series.push({
                    id: p.name,
                    name: p.name,
                    data: p.subData,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                })
            }
        }
        return series;
    }

    function formatter() {
        let template = `
        <div class="tooltip">
            <div class="series">{{series}}</div>
            <div class="profile">
                <div class="name">{{name}}:</div>
                <div class="value">{{value}}人</div>
            </div>
            {% if name !== '' %}
            <div class="list">
                {% for p in people %}
                <div class="pinfo">
                    <div class="pname">{{p.name}}</div>
                    <div class="city">{{p.city}}</div>
                    <div class="school">{{p.school}}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        `;

        return nunjucks.renderString(template, {
            name: this.point.name,
            series: this.series.name,
            value: this.point.value,
            people: this.point.people
        });
    }

    // 初始化图表
    let map = new Highcharts.Map('map', {
            chart: {
                events: {
                    drilldown: function (e) {
                        let name = e.point.name;
                        this.setTitle(null, {text: name});
                    },
                    drillup: function () {
                        data = Highcharts.maps['cn/china'];
                        this.setTitle(null, {
                            text: '提示:使用电脑获得更佳体验,建议横屏使用.使用手机可以长按省份查看该省名单'
                        });
                    }
                }
            },

            title: {
                text: '2109班蹭饭系统',
                style: {"color": "#333333", "fontSize": "24px"}
            },

            subtitle: {
                text: '提示:使用电脑获得更佳体验,建议横屏使用.使用手机可以长按省份查看该省名单',
                floating: true,
                y: 50,
                style: {
                    fontSize: '16px'
                }
            },
            

            tooltip: {
                useHTML: true,
                backgroundColor: '#357fee',
                borderRadius: 5,
                padding: 12,
                style: {
                    'color': '#dddddd',
                    'cursor': 'default',
                    'fontSize': '14px',
                    'pointerEvents': 'none',
                    'whiteSpace': 'nowrap'
                },
                formatter: formatter
            },

            colorAxis: {
                min: 0,
                max: 50,
                type: 'linear',
                minColor: '#ffffff',
                maxColor: '#006cee',
                stops: [
                    [0, '#ffffff'],
                    [0.02, '#a4d9ee'],
                    [0.04, '#7ebaee'],
                    [0.1, '#357fee'],
                    [0.5, '#0c70ee'],
                    [1, '#006cee']
                ]
            },

            series: [{
                data: data,
                name: '各省人数',
                joinBy: 'name',
                tooltip: {
                    pointFormat: `{point.name}: {point.value}`
                }
            }],

            drilldown:
                {
                    activeDataLabelStyle: {
                        color: '#FFFFFF',
                        textDecoration:
                            'none',
                        textShadow:
                            '0 0 3px #000000'
                    }
                    ,
                    drillUpButton: {
                        relativeTo: 'spacingBox',
                        position:
                            {
                                x: 0,
                                y:
                                    60
                            }
                    }
                    ,
                    series: makeSeries()
                }
            ,

            mapNavigation: {
                enabled: true,
                buttonOptions:
                    {
                        verticalAlign: 'bottom'
                    }
            }
        })
    ;
</script>

</body>
</html>